<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style type="text/css">
        button{
            background-color: Orange;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 30%;
        }
        button:hover {
            opacity: 0.8;
        }
    </style>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <table width="100%">
            <tr>
                <td>
                    <label for="">
                        <h1> Account Viewer </h1>
                        <h5> (Default Super User: Admin with email: admin@gmail.com and password: 1234) </h5>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="register"><button> Register </button> </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="login"><button> Login </button> </a>
                </td>
            </tr>
        </table>
    </div>
    
</body>
</html>